<!DOCTYPE html>
<html
  lang="en"
  class="h-full scroll-smooth bg-white dark:bg-zinc-900 antialiased [font-feature-settings:'ss01'] text-zinc-50"
  style="scrollbar-gutter: stable;"
>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from Fly</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="">
    <div class="mx-auto max-w-2xl p-4 sm:p-6 lg:p-8">

      <div class="mx-auto lg:mx-0">
        <h1 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">DFC Commander League</h1>
        <p class="mb-6 mt-4 text-1xl leading-8 text-zinc-300">Season 1</p>
      </div>

      <div class="mx-auto space-y-6">

        <ul role="list" class="space-y-3">
          
          {{ range $index, $player := .Players }}
            <li class="shadow-lg group relative rounded-md py-5 transition bg-zinc-800 hover:scale-105 hover:bg-zinc-800">
              <div class="px-4 sm:px-6 lg:px-8">
                <div class="mx-auto flex max-w-4xl justify-between gap-x-12 px-2">
                  <div class="flex min-w-0 gap-x-6">
                    <span class="truncate justify-center inline-flex items-center text-base">{{ $index }}</span>
                    <div class="min-w-0 flex-auto">
                      <p class="text-base font-bold leading-6">
                        <a href="#">
                          <span class="absolute inset-x-0 -top-px bottom-0"></span>
                          {{ $player.Name }}
                        </a>
                      </p>
                      <p class="mt-1 flex text-xs leading-5 text-zinc-400 truncate">
                        {{ $player.Deck }}
                      </p>
                    </div>
                  </div>
                  <div class="flex shrink-0 items-center font-semibold text-sm">
                    <!-- <div class="hidden sm:flex sm:flex-col sm:items-end">
                      <p class="text-sm leading-6 text-zinc-900">Co-Founder / CEO</p>
                      <p class="mt-1 text-xs leading-5 text-zinc-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
                    </div> -->
                    {{$index}}00
                  </div>
                </div>
              </div>
            </li>
          {{ end }}
        </ul>

        <a href="/results/new" class="mr-4 text-zinc-400 hover:text-zinc-300 border border-zinc-400 hover:border-zinc-300 h-10 px-4 py-2 text-base truncate inline-flex items-center font-semibold no-underline border border-transparent border border-zinc-300 rounded-md shadow-lg disabled:text-zinc-400 disabled:bg-zinc-200 disabled:hover:bg-zinc-200 disabled:cursor-not-allowed focus-within:outline-none focus-within:ring-2 focus:ring-2 focus:outline-none focus:ring-zinc-300">
          Post result
        </a>

        <a href="/players/new" class="text-zinc-400 hover:text-zinc-300 border border-zinc-400 hover:border-zinc-300 h-10 px-4 py-2 text-base truncate inline-flex items-center font-semibold no-underline border border-transparent border border-zinc-300 rounded-md shadow-lg disabled:text-zinc-400 disabled:bg-zinc-200 disabled:hover:bg-zinc-200 disabled:cursor-not-allowed focus-within:outline-none focus-within:ring-2 focus:ring-2 focus:outline-none focus:ring-zinc-300">
          Add player
        </a>
      </div>
    </div>
  </body>
</html>
